.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7em 5em 0;
    position: relative;
}

.header__title {
    color: var(--background-text-secondary-color);
    font-size: 3.2em;
    font-weight: 300;
    margin: .25em 0 .1em;
}

.header__subtitle {
    font-size: 1.6em;
    font-weight: 200;
    margin: 0 0 4em;
}

.nav {
    background-color: var(--navigation-background-color);
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    max-width: 64em;
    padding: .6em 6em;
    width: 100%;
}

.nav__menu-button {
    display: none;
    z-index: 1;
}

.nav__menu-toggle {
    display: none;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    overflow: inherit;
}

.nav-list__link {
    border-radius: 8px;
    color: var(--link-color);
    display: inline-block;
    padding: .5em 1.25em;
    text-decoration: none;
}

.nav-list__link:hover {
    background-color: var(--navigation-link-bg-color);
}

@media (max-width: 1200px) {
    .header {
        padding: 5em 1em 0;
    }

    .header__subtitle {
        margin-bottom: 2em;
    }

    .nav {
        padding: .6em 2em;
    }
}

@media (max-width: 980px) {
    .nav {
        padding: .6em 1em;
    }
}

@media (max-width: 736px) {
    .header__title {
        font-size: 2.5em;;
    }

    .nav {
        background-color: var(--mobile-navigation-bg-color);
        margin: 0;
        min-height: 3.2em;
        order: -1;
        padding: 0;
        position: fixed;
        top: 0;
    }
      
    .nav-list {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .nav__menu-button {
        border: 0;
        border-top: 3px solid #fff;
        display: block;
        height: 30px;
        outline: none;
        position: absolute;
        right: 20px;
        top: 15px;
        transition: transform 0.3s linear;
        width: 30px;
    }
      
    .nav__menu-button::before,
    .nav__menu-button::after {
        border-top: 3px solid #fff;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(6px);
        width: 100%;
    }
      
    .nav__menu-button::after {
        transform: translateY(15px);
        transition: transform 0.3s linear;
    }

    .nav__menu-toggle:checked ~ ul {
        height: 28em;
        padding-top: 3em
    }
      
    .nav__menu-toggle:checked + .nav__menu-button {
        border: none;
        transform: rotate(45deg) translateY(5px);
    }
      
    .nav__menu-toggle:checked + .nav__menu-button::after {
        transform: rotate(-90deg) translateX(-6px);
    }

    .nav-list__item {
        align-items: center;
        display: flex;
        line-height: 4em;
        min-height: 4em;
    }

    .nav-list__link {
        color: #fff;
        width: 100%;
    }

    .nav-list__link:hover {
        background-color: transparent;
        color: var(--mobile-navigation-link-hover-color);
    }
}

@media (max-width: 360px) {
    .header__title {
        font-size: 2em;;
    }

    .header__subtitle {
        font-size: 1.4em;
    }
}